body
{
  background-color: #ccffcc;
  text-align: center;
  background-image: url(wood.jpg);
  color: white;
}
p
{
  font-family: serif;
  font-size: 22px;
}

#parent
{
  display: flex;
}

.sideBar
{
  width: 200px;
  background: darkgreen;
}

#wide
{
  flex: 1;
}

a
{
    background-color: darkgreen;
    color: white;
}

a:hover
{
    background-color: white;
    color: darkgreen;
}
